<div class="container">

  <nav id="question" class="navbar navbar-dark bg-primary">
    <a class="navbar-brand">{{pollObject.question}}</a>
  </nav>

  <div class="navbar navbar-light bg-light" *ngFor="let item of pollObject.options;">
    <input [(ngModel)]="selectedOption" class="navbar-brand" type="radio" name="pollOption" id="pollOption" value={{item.text}}>
    <label class="navbar-brand" for="pollOption">
      {{item.text}}
    </label>
  </div>

  <button type="button" class="btn btn-primary" (click)="sendVote()">Submit Vote</button>

  <h2 id="votingResultings">Thank you for voting for: {{voteOption}}. There are now {{voteCount}} votes for option {{voteOption}}</h2>
  
  <h2>Results:</h2>

  <div class="chart">
    <canvas baseChart
    [data]='pieChartData'
    [labels]='pieChartLabels'
    [chartType]='pieChartType'
    [options]='pieChartOptions'
    [plugins]='pieChartPlugins'
    [legend]='pieChartLegend'>
    </canvas>
  </div>

</div>



